.search-page-logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.search-page-header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search-page-header-body > .search > .search-input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search-page-options {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: gray;
}

.search-page-options-left, .search-page-options-right {
  display: flex;
}

.search-page-options a {
  text-decoration: none;
  color: gray;
}

.search-page-options-right {
  margin-left: 80px;
}

.search-page-option {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-page-option a {
  margin-left: 5px;
}

.search-page-result {
  margin: 40px 0; 
}

.search-page-result-count {
  color: #70757a;
  font-size: 14px;
}

.search-page-results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.search-page-result-title {
  text-decoration: none;
}

.search-page-result-title:hover {
  text-decoration: underline;
}

.search-page-result-title > h2 {
  font-weight: 500;
}

.search-page-result-snippet {
  margin-top: 10px;
}

.search-page-result-image {
  object-fit: contain;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border-radius: 50%;
}



